<template>
  <div class="bg row column justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize" />
    <input type="text" ref="inputHidden" readonly style="position:absolute;z-index:1;" />
    <div align="center" class="q-mb-xl q-display-3" v-show="innerWidth > 600&&innerHeight > 600">
      <img src="../assets/logowinner.png" />
    </div>
    <div
      class="row bg-light-blue-10"
      style="position:relative;max-width:470px;width:100%;border:2px solid #01579B;border-radius:50px;z-index:2;"
    >
      <div
        class="col-xl-12 self-center col-xs-12 header-stroke text-white"
        style="letter-spacing:1px;"
        :class="{'text-h6 q-pa-md':innerWidth > 600,'text-h6 q-pa-lg':innerWidth < 600}"
        align="center"
      >
        <span>Placement Test</span>
      </div>
      <div
        class="row justify-center bg-cyan-7 q-pr-md q-pl-md q-pb-md q-ml-sm q-mr-sm q-mb-sm"
        style="border-radius:0px 0px 50px 50px;"
      >
        <div class="col-xl-12 col-xs-12 q-pa-md q-ma-sm text-white text-body1" align="center">
          <span v-show="page == 1">รหัสผู้ใช้งาน</span>
          <span v-show="page == 2 || page == 3">{{studentData.name}}</span>
        </div>
        <div
          class="col-xl-9 col-xs-10 text-light bg-white text-body1 q-pa-sm"
          align="center"
          style="position:relative;border-radius:3px;box-shadow:0 0 .1mm 1px #0698a8;"
        >
          <span v-if="page == 1">
            <span style="color:black" v-if="username.length > 0">{{username}}</span>
            <span class="text-white" v-else>รหัสผู้ใช้งาน</span>
          </span>
          <span v-else>
            <span
              style="color:black"
              :class="{'security-password':!isShowPass}"
              v-if="password.length > 0"
            >{{password}}</span>
            <span v-else>รหัสผ่าน</span>
            <q-btn
              @click="togglePasswordVisibility()"
              style="position:absolute;right:0;top:0;width:50px;height:100%;border-left:1px solid#00ACC1;border-radius:0px 3px 3px 0px;border-right:none;border-top:none;border-bottom:none;"
              outline
            >
              <span
                :class="{'fas fa-eye':isShowPass,'fas fa-eye-slash':!isShowPass}"
                class="text-blue text-bold text-h6"
              ></span>
            </q-btn>
          </span>
        </div>
        <!-- ปุ่ม : ตัวเลข 0-9 -->
        <div
          class="col-xl-9 col-xs-10 q-mt-sm bg-white"
          style="border-radius:3px;box-shadow:0 0 .1mm 1px #0698a8;"
        >
          <div class="row q-pa-sm">
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="1"
                @click="clickNumberBtn(1)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="2"
                @click="clickNumberBtn(2)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="3"
                @click="clickNumberBtn(3)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="4"
                @click="clickNumberBtn(4)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="5"
                @click="clickNumberBtn(5)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="6"
                @click="clickNumberBtn(6)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="7"
                @click="clickNumberBtn(7)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="8"
                @click="clickNumberBtn(8)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="9"
                @click="clickNumberBtn(9)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center"></div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                label="0"
                @click="clickNumberBtn(0)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div class="col-xs-4 q-pa-xs" align="center">
              <q-btn
                push
                size="lg"
                @click="backspace()"
                icon="fas fa-backspace"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
          </div>
        </div>
        <!-- ปุ่ม : ถัดไป/ย้อนกลับ/เข้าสู่ระบบ -->
        <div class="col-xl-9 col-xs-10 q-mt-lg q-pb-xl" align="center">
          <div class="row" v-if="page == 1">
            <div class="col-xs-6 offset-xs-3 q-pr-sm" align="center">
              <q-btn
                label="ถัดไป"
                @click="checkUsername()"
                color="primary"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 2||!isCheckData||username.length <= 0"
                push
                style="width:100%"
              ></q-btn>
            </div>
          </div>
          <div class="row" v-else>
            <div class="col-xs-6 q-pr-sm" align="right">
              <q-btn
                label="ย้อนกลับ"
                @click="backToLogin()"
                color="red-5"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 1"
                push
                style="width:100%;"
              ></q-btn>
            </div>
            <div class="col-xs-6 q-pl-sm" align="left">
              <q-btn
                label="เข้าสู่ระบบ"
                @click="checkPassword()"
                color="primary"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 1||!isCheckPassword||password.length <= 0"
                push
                style="width:100%;"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      page: 1,
      username: "",
      password: "",
      schoolCode: "",
      studentData: "",
      course: "",
      allowKeyboard: true,
      isShowPass: false,
      isCheckData: true,
      isCheckPassword: false,
      dataGetDate: "",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setUserData", "setCourseData"]),
    clickNumberBtn(data) {
      // this.$refs.inputHidden.focus();

      if (this.page == 1) {
        if (this.username.length < 10) {
          this.username += data;
        }
      } else {
        if (this.password.length < 4) {
          this.password += data;
        }
      }
    },
    backspace() {
      if (this.page == 1) {
        this.username = this.username.slice(0, -1);
      } else {
        this.password = this.password.slice(0, -1);
      }
    },
    backToLogin() {
      this.username = "";
      this.studentName = "";
      this.studentCode = "";
      this.schoolCode = "";
      this.password = "";
      this.page = 1;
      this.isCheckData = true;
    },
    togglePasswordVisibility() {
      this.isShowPass = !this.isShowPass;
    },
    async checkUsername() {
      this.showLoading();

      let _this = this;
      this.isCheckData = false;
      this.schoolCode = this.username.substring(0, 3);

      this.password = "";
      if (
        this.schoolCode == "501" ||
        this.schoolCode == "601" ||
        this.schoolCode == "701" ||
        this.schoolCode == "502" ||
        this.schoolCode == "602" ||
        this.schoolCode == "702"
      ) {
        this.isCheckData = true;
        this.notifyRed("รหัสผู้ใช้งานผิดพลาด");
        this.hideLoading();
        return;
      }
      db.collection("school")
        .doc(this.schoolCode)
        .collection("student")
        .where("username", "==", this.username)
        .get()
        .then(getData => {
          if (getData.size > 0) {
            getData.forEach(studentdoc => {
              setTimeout(() => {
                _this.page = 2;
                _this.studentData = studentdoc.data();
                _this.studentData.key = studentdoc.id;
                _this.studentData.schoolCode = _this.schoolCode;
                _this.setUserData(_this.studentData);
                _this.isCheckPassword = true;
              }, 500);
              this.hideLoading();
            });
          } else {
            _this.isCheckData = true;
            this.notifyRed("รหัสผู้ใช้งานผิดพลาด");
            this.hideLoading();
            return;
          }
        });
    },
    async checkPassword() {
      this.showLoading();
      let _this = this;
      let result = await axios(this.imagepath + "/api/gettime.php");
      this.dataGetDate = result.data[0].microtime;
      //ทำการตรวจสอบว่าหมดเวลาแล้วหรือยัง
      db.collection("school")
        .doc(this.schoolCode)
        .collection("student")
        .doc(this.studentData.key)
        .collection("placementtest")
        .doc("data")
        .get()
        .then(doc => {
          if (doc.exists) {
            //Check time
            //************ */
            //************* */
            let endtime = (
              (this.dataGetDate - doc.data().starttime) /
              60 /
              1000
            ).toFixed(0);

            if (endtime >= 40 || doc.data().inUse) {
              db.collection("school")
                .doc(this.schoolCode)
                .collection("student")
                .doc(this.studentData.key)
                .collection("placementtest")
                .doc("data")
                .update({
                  inUse: true
                });

              this.notifyRed("ผู้ใช้งานนี้ได้ผ่านการทดสอบแล้ว");
              this.backToLogin();
              this.hideLoading();
              this.isCheckData = true;
              return;
            } else {
              this.page = 3;
              setTimeout(() => {
                this.$router.push("/start");
              }, 1000);
            }
          } else {
            let courseDataRaw = [];

            this.isCheckData2 = false;

            if (this.studentData.password == this.password) {
              //Check the lastest course of student
              db.collection("course")
                .where("studentid", "==", _this.studentData.key)
                .get()
                .then(doc => {
                  if (doc.size) {
                    doc.forEach(courseData => {
                      courseDataRaw.push(courseData.data());
                    });
                    courseDataRaw.sort((b, a) => {
                      return a.timestamp - b.timestamp;
                    });
                    _this.course = courseDataRaw[0];
                    // console.log(_this.course);
                    _this.setCourseData(_this.course);

                    this.page = 3;

                    _this.$router.push("/welcome");
                  }
                });
            } else {
              this.notifyRed("รหัสผ่านผิดพลาด");
              this.isCheckData = true;
              this.password = "";
              this.hideLoading();
              return;
            }
          }
        });

      this.hideLoading();
      this.isCheckData = true;
    },
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    }
  },
  mounted() {
    window.addEventListener("keyup", () => {
      let key = event.keyCode;
      if (this.allowKeyboard == true) {
        if (key === 97) {
          this.clickNumberBtn(1);
        } else if (key === 98) {
          this.clickNumberBtn(2);
        } else if (key === 99) {
          this.clickNumberBtn(3);
        } else if (key === 100) {
          this.clickNumberBtn(4);
        } else if (key === 101) {
          this.clickNumberBtn(5);
        } else if (key === 102) {
          this.clickNumberBtn(6);
        } else if (key === 103) {
          this.clickNumberBtn(7);
        } else if (key === 104) {
          this.clickNumberBtn(8);
        } else if (key === 105) {
          this.clickNumberBtn(9);
        } else if (key === 96) {
          this.clickNumberBtn(0);
        } else if (key === 8) {
          this.backspace();
        } else if (key === 13) {
          if (this.page == 1) {
            if (this.username.length > 0) {
              this.checkUsername();
            }
          } else if (this.page == 2) {
            if (this.password.length > 0) {
              this.checkPassword();
            }
          }
        }
      }
    });
  }
};
</script>
