<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="row bar-title">
      <q-toolbar class="col-12 q-pa-md main q-mx-auto">
        <span class="logo-text text-h4 text-bold">WINNER ENGLISH</span>
        <q-space />
        <div class="text-white text-h6 desktop-only">
          <span
            class="q-pr-lg"
            :class="!onlineSchoolCode.includes(schoolCode) ? 'space-text' : null"
          >{{this.$store.state.system.placementStudentData.name}} {{this.$store.state.system.placementStudentData.surname}}</span>
          <!-- ระดับชั้น -->
          <span
            v-if="schoolCode != '500' && schoolCode != '600' &&  schoolCode != '700' &&  schoolCode != '198' &&  schoolCode != '199'"
            class="space-text q-pr-lg q-pl-lg"
          >{{this.$store.state.system.placementCourseData.room}}</span>
          <!-- เลขที่ -->
          <span
            class="q-pl-lg"
            v-if="schoolCode != '500' && schoolCode != '600' &&  schoolCode != '700' &&  schoolCode != '198' &&  schoolCode != '199'"
          >เลขที่ {{this.$store.state.system.placementCourseData.studentno}}</span>
        </div>
      </q-toolbar>
    </div>
    <div class="row main q-mx-auto q-mt-xl" v-if="showQuestion">
      <div class="col-6 text-white text-bold text-h4 self-center q-pl-xl">
        <span>ข้อ {{ questionno }}/{{ totalquestion }}</span>
      </div>
      <div class="col-6 self-center q-pr-xl">
        <div align="right" class="text-white text-body1">
          <span>{{ minute }} นาที</span>
        </div>
        <q-linear-progress stripe rounded style="height: 40px" :value="progress" color="warning" />
      </div>
      <q-toolbar class="col-12 question-bar q-pa-xs text-h5">
        <div align="center" class="window-width text-center text-blue-10 text-bold">
          <span v-html="this.questionData.instructionthai" v-if="!isLanguage"></span>
          <span v-html="this.questionData.instructioneng" v-else></span>
        </div>
        <q-space />
        <div class="bg-teal-5 q-pa-md">
          <q-btn round class="bg-grey-3" @click="changeLanguage()">
            <img src="../assets/icon-04.png" style="width:40px;" v-if="!isLanguage" />
            <img src="../assets/icon-03.png" style="width:40px;" v-else />
          </q-btn>
        </div>
      </q-toolbar>
      <div align="center" class="col-12 q-mt-xl q-pt-lg">
        <span class="text-h5 text-white" v-html="questionData.question"></span>
      </div>
      <div align="center" class="col-12 q-mt-xl">
        <div class="row">
          <div class="col-6 q-pa-lg" align="right">
            <q-btn
              class="btn-auto q-pa-lg bg-white shadow-4"
              no-caps
              @click="checkAns(1)"
              :disable="!isAnswer"
            >
              <span class="text-body1" v-html="questionData.choice1"></span>
            </q-btn>
          </div>
          <div class="col-6 q-pa-lg" align="left">
            <q-btn
              class="btn-auto q-pa-lg bg-white shadow-4"
              no-caps
              @click="checkAns(2)"
              :disable="!isAnswer"
            >
              <span class="text-body1" v-html="questionData.choice2"></span>
            </q-btn>
          </div>
          <div class="col-6 q-pa-lg" align="right" v-show="questionData.choice3.length > 0">
            <q-btn
              class="btn-auto q-pa-lg bg-white shadow-4"
              no-caps
              @click="checkAns(3)"
              :disable="!isAnswer"
            >
              <span class="text-body1" v-html="questionData.choice3"></span>
            </q-btn>
          </div>
          <div class="col-6 q-pa-lg" align="left" v-show="questionData.choice4.length > 0">
            <q-btn
              class="btn-auto q-pa-lg bg-white shadow-4"
              no-caps
              @click="checkAns(4)"
              :disable="!isAnswer"
            >
              <span class="text-body1" v-html="questionData.choice4"></span>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      minute: 40,
      progress: 1,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeigth,
      classRoom: this.$store.state.system.placementCourseData.room,
      showQuestion: false,
      totalquestion: 0,
      questionno: 1,
      questionData: "",
      dataGetDate: "",
      type: 1, // 1=ประถม,2=มัธยม,
      iconFlag: "th",
      iconFile: "../assets/icon-03.png",
      isAnswer: true,
      isLanguage: true,
      instructionText: "",
      schoolCode: this.$store.state.system.placementStudentData.schoolCode,
      studentKey: this.$store.state.system.placementStudentData.key,
      studentCourse: this.$store.state.system.placementCourseData,
      questionList: [],
      studentLevelSet: [],
      onlineSchoolCode: ["500", "600", "700", "198", "199"]
    };
  },
  methods: {
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    },
    loadquestion(studenttype, no) {
      let _this = this;
      let questionactive;
      let startCount = 0;

      let setRoom = "";

      if (studenttype == 1) {
        setRoom = this.studentCourse.room.slice(0, 3).replace("ป.", "p");
      } else {
        setRoom = this.studentCourse.room.slice(0, 3).replace("ม.", "m");
      }

      db.collection("placement")
        .doc("server")
        .collection("data")
        .where(setRoom, "==", true)
        .get()
        .then(questiondoc => {
          let levelsetquestion = [];
          let temp = [];

          questionactive =
            no - Math.floor(no / questiondoc.size) * questiondoc.size;

          if (questionactive == 0) {
            questionactive = questiondoc.size;
          }

          questiondoc.forEach(questiondataall => {
            startCount += 1;
            if (startCount == questionactive) {
              _this.questionData = questiondataall.data();
              _this.showQuestion = true;
              this.instructionText = this.questionData.instructioneng;
            }

            temp.push(questiondataall.data());

            levelsetquestion.push(questiondataall.data().level);
          });

          this.questionList = temp;

          levelsetquestion.sort((a, b) => {
            return Number(a) - Number(b);
          });
          levelsetquestion = [...new Set(levelsetquestion)];

          for (let i = 0; i < levelsetquestion.length; i++) {
            console.log(Number(levelsetquestion[i]));
            if (
              this.studentLevelSet[Number(levelsetquestion[i]) - 1].score == "-"
            ) {
              this.studentLevelSet[Number(levelsetquestion[i]) - 1].score = 0;
            }
          }

          this.totalquestion = questiondoc.size;

          this.hideLoading();
          this.isAnswer = true;
        });
    },
    changeLanguage() {
      this.isLanguage = !this.isLanguage;
    },
    checkAns(userChoose) {
      this.isAnswer = false;
      let finish = false;
      let scoreOld;

      let scoreFireBase = db
        .collection("school")
        .doc(this.schoolCode)
        .collection("student")
        .doc(this.studentKey)
        .collection("placementtest")
        .doc("data");

      scoreFireBase.get().then(doc => {
        scoreOld = doc.data();

        if (userChoose == this.questionData.correct) {
          this.studentLevelSet[Number(this.questionData.level) - 1].score += 1;
        }

        if (this.questionno + 1 > this.totalquestion) {
          finish = true;
        }

        scoreFireBase
          .update({
            no: this.questionno,
            inUse: finish,
            levelset: this.studentLevelSet
          })
          .then(() => {
            if (finish) {
              this.$router.push("/finish");
            } else {
              this.questionno += 1;
              this.loadquestion(this.type, this.questionno);
            }
          });
      });
    },
    async loadBasicData() {
      this.showLoading();
      let result = await axios(this.imagepath + "/api/gettime.php");
      this.dataGetDate = result.data[0].microtime;

      db.collection("school")
        .doc(this.schoolCode)
        .collection("student")
        .doc(this.studentKey)
        .collection("placementtest")
        .doc("data")
        .get()
        .then(getdata => {
          this.studentLevelSet = getdata.data().levelset;

          this.questionno = getdata.data().no + 1;
          let minuteset = (
            40 -
            (this.dataGetDate - getdata.data().starttime) / 60 / 1000
          ).toFixed(0);
          this.minute = minuteset;

          let setprogress = (Number(this.minute) / 40).toFixed(2);

          this.progress = Number(setprogress);

          //Set level สำหรับการดึงข้อมุล
          if (this.classRoom.includes("ม")) {
            this.type = 2;
          } else {
            this.type = 1;
          }
          this.loadquestion(this.type, this.questionno);
        });
    }
  },
  mounted() {
    this.loadBasicData();
    this.intraval = setInterval(() => {
      this.minute -= 1;
      let setprogress = (Number(this.minute) / 40).toFixed(2);
      this.progress = Number(setprogress);
    }, 60000);
  },
  watch: {
    minute() {
      if (this.minute <= 0) {
        clearInterval(this.intraval);

        db.collection("school")
          .doc(this.schoolCode)
          .collection("student")
          .doc(this.studentKey)
          .collection("placementtest")
          .doc("data")
          .update({
            inUse: true
          });

        this.$q
          .dialog({
            title: "แจ้งเตือน",
            message: "หมดเวลาในการทำแบบทดสอบแล้ว",
            persistent: true,
            ok: "ออกจากแบบทดสอบ"
          })
          .onOk(() => {
            this.$router.push("/finish");
          })
          .onCancel(() => {});
      }
    }
  }
};
</script>
<style scoped>
.brx {
  border: 1px solid#f00;
}
.logo-text {
  color: #efb81d;
  text-shadow: rgb(0, 0, 0) 8px 0px 0px, rgb(0, 0, 0) 7.93758px 0.997398px 0px,
    rgb(0, 0, 0) 7.7513px 1.97923px 0px, rgb(0, 0, 0) 7.44406px 2.93018px 0px,
    rgb(0, 0, 0) 7.02066px 3.8354px 0px, rgb(0, 0, 0) 6.4877px 4.68078px 0px,
    rgb(0, 0, 0) 5.85351px 5.45311px 0px, rgb(0, 0, 0) 5.12797px 6.14035px 0px,
    rgb(0, 0, 0) 4.32242px 6.73177px 0px, rgb(0, 0, 0) 3.44941px 7.21814px 0px,
    rgb(0, 0, 0) 2.52258px 7.59188px 0px, rgb(0, 0, 0) 1.55638px 7.84714px 0px,
    rgb(0, 0, 0) 0.565898px 7.97996px 0px,
    rgb(0, 0, 0) -0.433417px 7.98825px 0px,
    rgb(0, 0, 0) -1.42597px 7.87189px 0px, rgb(0, 0, 0) -2.39627px 7.63269px 0px,
    rgb(0, 0, 0) -3.32917px 7.27438px 0px, rgb(0, 0, 0) -4.21013px 6.80256px 0px,
    rgb(0, 0, 0) -5.02539px 6.22459px 0px, rgb(0, 0, 0) -5.76223px 5.54948px 0px,
    rgb(0, 0, 0) -6.40915px 4.78778px 0px, rgb(0, 0, 0) -6.95606px 3.95136px 0px,
    rgb(0, 0, 0) -7.39442px 3.05329px 0px, rgb(0, 0, 0) -7.71739px 2.10757px 0px,
    rgb(0, 0, 0) -7.91994px 1.12896px 0px, rgb(0, 0, 0) -7.9989px 0.132735px 0px,
    rgb(0, 0, 0) -7.95304px -0.865561px 0px,
    rgb(0, 0, 0) -7.78307px -1.85035px 0px,
    rgb(0, 0, 0) -7.49165px -2.80627px 0px,
    rgb(0, 0, 0) -7.08333px -3.71839px 0px,
    rgb(0, 0, 0) -6.56448px -4.57249px 0px,
    rgb(0, 0, 0) -5.94318px -5.35524px 0px,
    rgb(0, 0, 0) -5.22915px -6.05442px 0px,
    rgb(0, 0, 0) -4.43352px -6.65912px 0px,
    rgb(0, 0, 0) -3.5687px -7.15991px 0px, rgb(0, 0, 0) -2.6482px -7.54898px 0px,
    rgb(0, 0, 0) -1.68637px -7.82024px 0px,
    rgb(0, 0, 0) -0.698222px -7.96947px 0px,
    rgb(0, 0, 0) 0.300817px -7.99434px 0px,
    rgb(0, 0, 0) 1.29516px -7.89446px 0px, rgb(0, 0, 0) 2.2693px -7.67139px 0px,
    rgb(0, 0, 0) 3.20802px -7.32862px 0px, rgb(0, 0, 0) 4.09668px -6.87148px 0px,
    rgb(0, 0, 0) 4.92142px -6.30711px 0px, rgb(0, 0, 0) 5.66936px -5.64432px 0px,
    rgb(0, 0, 0) 6.32883px -4.89346px 0px, rgb(0, 0, 0) 6.88954px -4.06623px 0px,
    rgb(0, 0, 0) 7.34274px -3.17555px 0px, rgb(0, 0, 0) 7.68136px -2.23532px 0px,
    rgb(0, 0, 0) 7.90012px -1.26021px 0px, rgb(0, 0, 0) 7.9956px -0.265434px 0px;
}
.bar-title {
  background-color: #43c0c2;
}
.main {
  width: 90%;
  max-width: 1280px;
}
.space-text {
  border-right: 2px solid#1A4683;
}
.question-bar {
  width: 90%;
  margin: 50px auto 0px auto;
  background-color: #c4e7eb;
  border-radius: 3px;
}
.btn-auto {
  width: 100%;
  max-width: 450px;
}
</style>
