<template>
  <div class="bg row column justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize" />
    <div align="center" class="q-mb-xl" v-show="innerWidth > 600 && innerHeight > 600">
      <img src="../assets/logowinner.png" />
    </div>
    <div
      align="center"
      class="text-h3 text-bold question-stroke text-white q-mt-sm q-mb-sm"
      :class="{ 'text-h4': innerWidth < 600 }"
    >
      <div class="q-mb-md">เข้าสู่แบบทดสอบ</div>
      <div class="q-mt-lg">วัดระดับการเรียน</div>
    </div>
    <div
      align="center"
      class="q-mt-xl"
      style="width:250px;"
      :class="{ 'text-h4': innerWidth < 600 }"
    >
      <q-btn push class="text-white q-pa-md btn-max-width" color="secondary" @click="startBtn()">
        <span class="text-h6">เริ่มแบบทดสอบ</span>
      </q-btn>
    </div>
  </div>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeigth,
      schoolCode: this.$store.state.system.placementStudentData.schoolCode,
      studentKey: this.$store.state.system.placementStudentData.key,
      academicYear: this.$store.state.system.placementCourseData.academicYear,
      room: this.$store.state.system.placementCourseData.room,
      studentno: this.$store.state.system.placementCourseData.studentno,
      studentname:
        this.$store.state.system.placementStudentData.name +
        " " +
        this.$store.state.system.placementStudentData.surname,
      dataGetDate: "",
      studentCourse: this.$store.state.system.placementCourseData
    };
  },
  methods: {
    async startBtn() {
      console.clear();

      this.showLoading();

      let result = await axios(this.imagepath + "/api/gettime.php");
      this.dataGetDate = result.data[0].microtime;

      let setRoom = "";

      if (this.studentCourse.room.slice(0, 1) == "ม") {
        setRoom = this.studentCourse.room.slice(0, 3).replace("ม.", "m");
      } else {
        setRoom = this.studentCourse.room.slice(0, 3).replace("ป.", "p");
      }

      let setData = {
        levelset: [
          { level: "1", score: "-" },
          { level: "2", score: "-" },
          { level: "3", score: "-" },
          { level: "4", score: "-" },
          { level: "5", score: "-" },
          { level: "6", score: "-" },
          { level: "7", score: "-" },
          { level: "8", score: "-" },
          { level: "9", score: "-" },
          { level: "10", score: "-" },
          { level: "11", score: "-" },
          { level: "12", score: "-" }
        ],
        isNew: true,
        no: 0,
        starttime: this.dataGetDate,
        academicYear: this.academicYear,
        inUse: false,
        room: this.room,
        studentno: this.studentno,
        name: this.studentname
      };

      db.collection("school")
        .doc(this.schoolCode)
        .collection("student")
        .doc(this.studentKey)
        .collection("placementtest")
        .doc("data")
        .set(setData)
        .then(() => {
          setTimeout(() => {
            this.$router.push("/start");
            this.hideLoading();
          }, 700);
        });
    },

    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    }
  }
};
</script>
<style scoped></style>
