// app global css
@font-face{
font-family: prompt-R;
src:url(../assets/Prompt-Regular.ttf)
}
@font-face{
font-family: prompt-semi;
src:url(../assets/Prompt-SemiBold.ttf)
}
body{
font-family:prompt-R
background-image: url("../assets/background-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: bottom;
width:100%;
min-height:100vh;
max-height:fit-content;
}
body::-webkit-scrollbar {
  width: 0px;
}
.bg {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
}
.header-stroke {
  text-shadow: rgb(136, 219, 189) 1px 0px 0px,
    rgb(136, 219, 189) 0.540302px 0.841471px 0px,
    rgb(136, 219, 189) -0.416147px 0.909297px 0px,
    rgb(136, 219, 189) -0.989992px 0.14112px 0px,
    rgb(136, 219, 189) -0.653644px -0.756802px 0px,
    rgb(136, 219, 189) 0.283662px -0.958924px 0px,
    rgb(136, 219, 189) 0.96017px -0.279415px 0px;
}
.logo-stroke{
  letter-spacing:4px;
  text-shadow: rgb(0, 0, 0) 6px 0px 0px, rgb(0, 0, 0) 5.91686px 0.995377px 0px, rgb(0, 0, 0) 5.66974px 1.96317px 0px, rgb(0, 0, 0) 5.2655px 2.87655px 0px, rgb(0, 0, 0) 4.71532px 3.71022px 0px, rgb(0, 0, 0) 4.03447px 4.44106px 0px, rgb(0, 0, 0) 3.24181px 5.04883px 0px, rgb(0, 0, 0) 2.35931px 5.51667px 0px, rgb(0, 0, 0) 1.41143px 5.83163px 0px, rgb(0, 0, 0) 0.424423px 5.98497px 0px, rgb(0, 0, 0) -0.574341px 5.97245px 0px, rgb(0, 0, 0) -1.55719px 5.79441px 0px, rgb(0, 0, 0) -2.49688px 5.45578px 0px, rgb(0, 0, 0) -3.36738px 4.96596px 0px, rgb(0, 0, 0) -4.14455px 4.33852px 0px, rgb(0, 0, 0) -4.80686px 3.59083px 0px, rgb(0, 0, 0) -5.33596px 2.74364px 0px, rgb(0, 0, 0) -5.71718px 1.8204px 0px, rgb(0, 0, 0) -5.93995px 0.84672px 0px, rgb(0, 0, 0) -5.99811px -0.150428px 0px, rgb(0, 0, 0) -5.89004px -1.14341px 0px, rgb(0, 0, 0) -5.61874px -2.1047px 0px, rgb(0, 0, 0) -5.19172px -3.00766px 0px, rgb(0, 0, 0) -4.62082px -3.82727px 0px, rgb(0, 0, 0) -3.92186px -4.54081px 0px, rgb(0, 0, 0) -3.11421px -5.12852px 0px, rgb(0, 0, 0) -2.22026px -5.57409px 0px, rgb(0, 0, 0) -1.26477px -5.86518px 0px, rgb(0, 0, 0) -0.274238px -5.99373px 0px, rgb(0, 0, 0) 0.723898px -5.95617px 0px, rgb(0, 0, 0) 1.70197px -5.75355px 0px, rgb(0, 0, 0) 2.63288px -5.39147px 0px, rgb(0, 0, 0) 3.49082px -4.87998px 0px, rgb(0, 0, 0) 4.25202px -4.23324px 0px, rgb(0, 0, 0) 4.89538px -3.46919px 0px, rgb(0, 0, 0) 5.40307px -2.60899px 0px, rgb(0, 0, 0) 5.76102px -1.67649px 0px, rgb(0, 0, 0) 5.95932px -0.697531px 0px;
}
.question-stroke{
  letter-spacing:2px;
  text-shadow: rgb(17, 170, 136) 6px 0px 0px, rgb(17, 170, 136) 5.91686px 0.995377px 0px, rgb(17, 170, 136) 5.66974px 1.96317px 0px, rgb(17, 170, 136) 5.2655px 2.87655px 0px, rgb(17, 170, 136) 4.71532px 3.71022px 0px, rgb(17, 170, 136) 4.03447px 4.44106px 0px, rgb(17, 170, 136) 3.24181px 5.04883px 0px, rgb(17, 170, 136) 2.35931px 5.51667px 0px, rgb(17, 170, 136) 1.41143px 5.83163px 0px, rgb(17, 170, 136) 0.424423px 5.98497px 0px, rgb(17, 170, 136) -0.574341px 5.97245px 0px, rgb(17, 170, 136) -1.55719px 5.79441px 0px, rgb(17, 170, 136) -2.49688px 5.45578px 0px, rgb(17, 170, 136) -3.36738px 4.96596px 0px, rgb(17, 170, 136) -4.14455px 4.33852px 0px, rgb(17, 170, 136) -4.80686px 3.59083px 0px, rgb(17, 170, 136) -5.33596px 2.74364px 0px, rgb(17, 170, 136) -5.71718px 1.8204px 0px, rgb(17, 170, 136) -5.93995px 0.84672px 0px, rgb(17, 170, 136) -5.99811px -0.150428px 0px, rgb(17, 170, 136) -5.89004px -1.14341px 0px, rgb(17, 170, 136) -5.61874px -2.1047px 0px, rgb(17, 170, 136) -5.19172px -3.00766px 0px, rgb(17, 170, 136) -4.62082px -3.82727px 0px, rgb(17, 170, 136) -3.92186px -4.54081px 0px, rgb(17, 170, 136) -3.11421px -5.12852px 0px, rgb(17, 170, 136) -2.22026px -5.57409px 0px, rgb(17, 170, 136) -1.26477px -5.86518px 0px, rgb(17, 170, 136) -0.274238px -5.99373px 0px, rgb(17, 170, 136) 0.723898px -5.95617px 0px, rgb(17, 170, 136) 1.70197px -5.75355px 0px, rgb(17, 170, 136) 2.63288px -5.39147px 0px, rgb(17, 170, 136) 3.49082px -4.87998px 0px, rgb(17, 170, 136) 4.25202px -4.23324px 0px, rgb(17, 170, 136) 4.89538px -3.46919px 0px, rgb(17, 170, 136) 5.40307px -2.60899px 0px, rgb(17, 170, 136) 5.76102px -1.67649px 0px, rgb(17, 170, 136) 5.95932px -0.697531px 0px;
}
.btn-max-width {
  width: 95%;
}
.security-password {
  -webkit-text-security: disc;
}